@CHARSET "UTF-8";

p.top{
	font-size: 500%;
	text-align: center;
}
.search_margin{
	margin: 10px;
}

.btn_layout{
	margin: 20px 0px 20px 0px;
	font-size: 150%;
}

.header_btn{
	text-align: center;
	margin: 0px 0px 0px 0px;
}

.btn_counter .text{
	font-size: 12px;
	
}
.btn_counter .num{
 	font-size: 18px;
}

.btn_counter{
	text-align: center;
	margin: 0px 0px 0px 0px;
}

.header_btn .text{
	font-size: 10px;
	
}
.header_btn .num{
 	font-size: 16px;
}

.navbar-default{
	text-align: center;
}
.left{
	float: left;
}
.right{
	float: right;
}
.clear{
	clear: both;
}
a.hname{
	font-size: 25px;
}
.form_layout{
	width: 90%;
	height: 70px;
}
.align_center{
	text-align: center;
}
.align_left{
	text-align: left;
}
.align_right{
	text-align: right;
}

.comment{
	margin: 20px;
	font-size: 16px;
}
.comment .name{
	margin: 10px;
	font-size: 25px;
}

.comment .date{
	margin: 10px;
}

.comment .mes{
	margin: 10px 10px 10px 50px;
	font-size: 22px;
}
.comment .delete{
	margin: 10px;
}
.comment .edit{
	margin: 10px;
}
.comment .editview{
	margin: 10px 10px 10px 50px;
}
.comment .editview input{
	font-size: 22px;
}

table.userindex{
	font-size: 25px;
	margin: 10px;
	width: 100%;
}

table.userindex td{
	padding :5px;
}
table.userindex tr{
	
}
.font16{
	font-size: 16px;
}
table.userinfo{
	padding :5px;
}

